<div class="container-fluid">

    <div class="row d-flex justify-content-center mt-5 mb-5 ml-5">
        <div class="col md-4 ">
            <a><img src="https://i.imgur.com/xMc5uhp.png" alt=""></a>
        </div>
        <div class="col-md-4">
            <a><img src="https://i.imgur.com/SmFKq4E.png?1" alt=""></a>
        </div>
        <div class="col-md-4">
            <a><img src="https://i.imgur.com/Pq09PFm.png" alt=""></a>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-5 mb-5 ml-5">
        <div class="col-md-4 ">
            <a><img src="https://i.imgur.com/nfp7wHd.png" alt=""></a>
        </div>
        <div class="col-md-4">
            <a><img src="https://i.imgur.com/4tt12wT.png" alt=""></a>
        </div>
        <div class="col-md-4">
            <a><img src="https://i.imgur.com/8moSsEQ.png" alt=""></a>
        </div>
    </div>
</div>