
<!--Groupo de Imagens-->

<div class="row mb-5 mt-5">
    <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/CDB6Opg.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/hgZI1Tx.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/j4oXzBG.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/15IcoiL.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/8xqOqS2.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/FH9Ff3Q.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/8Y50VAA.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/15IcoiL.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>
  <!--/Groupo de Imagens-->


  
<!--Groupo de Imagens 2-->

<div class="row mb-5 mt-5">
    <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/CDB6Opg.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/GLZUrWD.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/CDB6Opg.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/GLZUrWD.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/CDB6Opg.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/GLZUrWD.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/CDB6Opg.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/GLZUrWD.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>

  <!--/Groupo de Imagens 2-->


  
<!--Groupo de Imagens 3-->

<div class="row mb-5 mt-5">
    <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/CDB6Opg.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/GLZUrWD.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/CDB6Opg.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/GLZUrWD.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/CDB6Opg.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/GLZUrWD.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="d-flex justify-content-center foo">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/CDB6Opg.jpg">
              <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/GLZUrWD.jpg">
          </div>
          <div class="card-body text-center">
              <h4 id="preco"> 67,60 R$</h4>
              <small class="text-muted"> Camiseta sensação</small>
              <p id="preco"> </p>
              <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
          </div>
        </div>
      </div>
  <!--/Groupo de Imagens 3-->

