<!--Carrosel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!--<img class="d-block w-100" src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.6435-9/198254926_113204300986092_6630909587025776853_n.png?_nc_cat=103&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeGcfxTRvKJUNKRMn9ctkcfKNPs3wYax1l80-zfBhrHWX3mP8w2dK0SBVBD0-77DkcvKA3EXHPR6ROEOCgO2Yt7g&_nc_ohc=DCOI_iYoUQMAX_wvqHm&_nc_oc=AQmYymbm9zyByWSyGXsRd2Ev4JzrdGBPXAKe5ACYo96PzuwX-ergze093T_mAHeadBJJqTdWD0Tv9jozMoB_CwrI&_nc_ht=scontent.fgru5-1.fna&oh=bcbb0db857ad83e96a4ef3fd594d5f78&oe=60CB8E61" alt="Primeiro Slide">-->
      <img class="d-block w-100" src="https://i.imgur.com/mnAZhJT.png" alt="Primeiro Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/r3lSMp2.png" alt="Segundo Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/EA6yCPM.png" alt="Terceiro Slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>

<div class="row ml-4" >
  <h1 id="emAlta">Em alta:</h1>
</div>
<!--/Carrosel-->

<!--Groupo de Imagens de Produtos em Alta-->
<div class="row mb-5 mt-5">
  <div class="column">
    <div class="card">
      <div class="d-flex justify-content-center foo">
        <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/CDB6Opg.jpg">
        <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/hgZI1Tx.jpg">
      </div>
      <div class="card-body text-center">
        <h4 id="preco">R$ 67,60</h4>
        <small class="text-muted"> Metades de Amor</small>
        <p id="preco"> </p>
        <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="d-flex justify-content-center foo">
        <img class="img-fluid" alt="Imagem da camiseta"
          src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.6435-9/198431109_113190360987486_262124096652213749_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeEcu9icdoxY-3HB59aT7xt6Y3g7b8ffsoBjeDtvx9-ygME3QHUzKfZv9PUxecy6rdDk1VBkFhHd_oi6UpVWurYI&_nc_ohc=a-cL7VbDXigAX8iZkP0&_nc_ht=scontent.fgru5-1.fna&oh=db976d9854ec516730353aa25de4ecab&oe=60CB9FF1">
        <img class="img-fluid" alt="Imagem da camiseta"
          src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.6435-9/199941650_113190387654150_8631430818266064752_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeESXrSOWe2hipNpMWG_X_hdPaLBYBJcasY9osFgElxqxrH6IYAOwG-8AX2mdPaLWNOLOtba4GEeVATlqX8RZ3mw&_nc_ohc=A4sJ4g-j6SsAX_wJL0n&_nc_ht=scontent.fgru5-1.fna&oh=fefd31cfeadee51cb34f79ebc7c26537&oe=60CBD186">
      </div>
      <div class="card-body text-center">
        <h4 id="preco"> R$ 75,90</h4>
        <small class="text-muted"> Drama Queen</small>
        <p id="preco"> </p>
        <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="d-flex justify-content-center foo">
        <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/j4oXzBG.jpg">
        <img class="img-fluid" alt="Imagem da camiseta" src="https://i.imgur.com/15IcoiL.jpg">
      </div>
      <div class="card-body text-center">
        <h4 id="preco">R$ 59,60</h4>
        <small class="text-muted"> Maestria</small>
        <p id="preco"> </p>
        <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <div class="d-flex justify-content-center foo">
        <img class="img-fluid" alt="Imagem da camiseta"
          src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.6435-9/198426291_113189104320945_7779008378054612405_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeFkeBr2QLbgmn9WgjkvijsAd0ZeLWbjlGV3Rl4tZuOUZeS1l0s-Ohvo-CCaI7fIuhZru7ammWl67GlYfmwXkDzr&_nc_ohc=Q_H4GTv_fwgAX-ldoag&tn=ujOaSvDAvR7NbCE1&_nc_ht=scontent.fgru5-1.fna&oh=c1980cb946bba06ed7aafe3bb68ac19d&oe=60CB24A4">
        <img class="img-fluid" alt="Imagem da camiseta"
          src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.6435-9/199205418_113189157654273_8946503314001406949_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeHehuEebr74Q9wIavxRddP9UxCqJjcQEJBTEKomNxAQkLcDvL9LSliywfduHkl935W1uR31lbH7FhzqUCOcctoo&_nc_ohc=ZPDRiw1DH44AX-PunRL&tn=ujOaSvDAvR7NbCE1&_nc_ht=scontent.fgru5-1.fna&oh=277b5031dd407df32074aab9e3dc1bee&oe=60CB0C9A">
      </div>
      <div class="card-body text-center">
        <h4 id="preco">R$ 65,90</h4>
        <small class="text-muted"> Witch Ritual</small>
        <p id="preco"> </p>
        <a class="btn btn-verde w-50" routerLink='/ver-produto'>Ver camiseta</a>
      </div>
    </div>
  </div>
</div>

<!--Groupo de Imagens de Produtos em Alta-->

<div class="d-flex justify-content-center">
  <div class="row">
  <img src="https://i.imgur.com/UMpCOrf.png" alt="">
</div>
</div>

<div class="d-flex justify-content-center">
  <div class="row">
    <img id="arts" src="https://i.imgur.com/z0ZMODh.jpg" alt="">
    <img id="arts" src="https://i.imgur.com/5eicorG.jpg" alt="">
    <img id="arts" src="https://i.imgur.com/suY4bxc.jpg" alt="">
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="row">
    <img id="arts" src="https://i.imgur.com/ciwlEOS.jpg" alt="">
    <img id="arts" src="https://i.imgur.com/OFv7LkT.jpg" alt="">
    <img id="arts" src="https://i.imgur.com/h6S4gUP.jpg" alt="">
  </div>
</div>


<div class="d-flex justify-content-center">
  <div class="row">
  <img id="camiseta" src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.6435-9/198078827_113324624307393_343850054909506352_n.png?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeEwGC3b_yvB52Zf8dKBbpei-HlRP9J5aLL4eVE_0nlosqW2Ul0vTUTNyPPlB-TdwH6nV25ul9jAQkfJ7E_-6HAV&_nc_ohc=vphM0vZaCc8AX9COYhT&_nc_oc=AQlA1c2n4nRzA3Fimw30GP4j6k5uG3tAsUkzed9Y7-eSKDti7JgciCrc0Sp9eode4NcN2yJMrcqp45E_i0sL6A4z&_nc_ht=scontent.fgru5-1.fna&oh=99be1a0b7038dfd71976676a75d2fcc3&oe=60CC848F" alt="">
</div>
</div>

<div class="row">
  <p>
  </p>
</div>
