<div class="container-fluid">
    <div class="row">

        <div class="col-md-12 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">

                    <h1 class="text-center mb-5">Cadastro</h1>


                    <div class="form-group mb-3">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='user.nomeCompleto' class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
                    </div>

                    <div class="form-group mb-3">
                        <label for="email">E-mail</label>
                        <input [(ngModel)]='user.email' class="form-control" type="text" name="email" id="email" placeholder="Seu e-mail">
                    </div>

                    <div class="form-group mb-3">
                        <label for="senha">Senha</label>
                        <input (input) = 'confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="form-group mb-3">
                        <label for="confirmarSenha">Confirmar senha</label>
                        <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmarSenha" id="confirmarSenha"
                            placeholder="Confirme sua senha">
                    </div>

                    <div class="form-group mb-3">
                        <label for="endereco">Endereço</label>
                        <input [(ngModel)]='user.endereco' class="form-control" type="text" name="endereco" id="endereço"
                            placeholder="Digite seu endereço">
                    </div>

                    <div class="form-group mb-3">
                        <label for="telefoneFixo">Telefone Fixo</label>
                        <input [(ngModel)]='user.telefoneFixo' class="form-control" type="text" name="telefoneFixo" id="telefoneFixo"
                            placeholder="Telefone Fixo">
                    </div>
                  
                    <div class="form-group mb-3">
                        <label for="telefoneCelular">Telefone Celular</label>
                        <input [(ngModel)]='user.telefoneCelular' class="form-control" type="text" name="telefoneCelular" id="telefoneCelular"
                            placeholder="Telefone Celular">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-4"  routerLink='/entrar'>Cancelar</button>
                        <button type="submit" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
                    </div>


                </div>
            </div>

        </div>

    </div>


</div>
