@font-face {
    font-family: "Kinan";
    src: url(../../assets/fontes/kinan/Kinan.ttf)
  }

  @font-face {
    font-family: "caramella";
    src: url(../../assets/fontes/caramella/Caramella_Regular.ttf)
  }

  .titulo{
    text-align: center;
    color: #000000;
    font-family: "Kinan";
    font-size: 80pt;
    margin-bottom: 10px;
  }
  .btn-verde {
    color: white;
    background-color: #1c372c;
  }
  .btn-white {
    background-color: white;
  }
  img{
    max-height: 300px;
    max-width: 300px;
    margin:0;
  }
  #preco{
    color: black;
    font-size: 40px;
  }
  .card {
    cursor: pointer;
  }
  