#img-bg{
    background-image: url('https://i.imgur.com/YGX1TIQ.jpg');
    

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-in{

background-image: url("https://i.imgur.com/AU8NMXZ.jpg?1");
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


@font-face {
    font-family: "Kinan";
    src: url(../../assets/fontes/kinan/Kinan.ttf)
  }
  
  h1{
    font-family: "Kinan";
    font-size: 70pt;
  }
  
  @font-face {
    font-family: "caramella";
    src: url(../../assets/fontes/caramella/Caramella_Regular.ttf)
  }
  
  h2{
    font-size: 40px;
    font-family: "caramella";
   }

   h3{
    font-size: 28px;
    font-family: "caramella";
   }
  
   #formulario{
     top: 350px;
   }