/* 4 colunas lado a lado */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove espaços extras entre colunas */
  .row {margin: 0 -5px;}
  
  /* Limpa floats após as colunas*/
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Estiliza os cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adiciona efeito ao card */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Coluna responsiva - uma imagem vertical para pequenas telas */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .btn{
    color: white;
    background-color: #FF4500;
    width: 90%;
}


  
  .foo img:last-child{display:none}
  .foo:hover img:first-child{display:none}
  .foo:hover img:last-child{display:inline-block}
