@font-face {
  font-family: "caramella";
  src: url(../../assets/fontes/caramella/Caramella_Regular.ttf)
}

.fs-14{
    font-size: 14pt;
}

  .a{
    font-family: "caramella";
  }

  .navbar{
    font-family: "caramella";
  }

  .menu{font-family: "caramella";}

  input{
    border-radius: 25px;
    width: 300px;
  }