@font-face {
  font-family: "caramella";
  src: url(../../assets/fontes/caramella/Caramella_Regular.ttf)
}

a{
  color: white;
}

a:hover{
  color: #FF4500;
}

#temas{
  color: black;
}

#temas:hover{
  color:#FF4500;
}

.fs-14{
    font-size: 14pt;
    text-decoration: none;
}

  .navbar{
    font-family: "caramella";
  }  

  .menu{
    width: 100%;
  } 

  .hoover2 :hover {
    font-weight: bold;
  }

  input{
    border-radius: 25px;
    width: 300px;
  }

  button{
    font-family: "caramella";
  }
  
  #dropdownMenuLink{
    color: white;
  }

  #dropdownMenuLink:hover{
    color: #FF4500;
  }