@font-face {
  font-family: "caramella";
  src: url(../../assets/fontes/caramella/Caramella_Regular.ttf)
}

.fs-14{
    font-size: 14pt;
    text-decoration: none;
}

  .navbar{
    font-family: "caramella";
  }

  

  .menu{
    width: 100%;
  }

  

  .hoover :hover {
    background-color: orangered;
  }

  .hoover2 :hover {
    font-weight: bold;
  }



  input{
    border-radius: 25px;
    width: 300px;
  }