<footer class="page-footer font-small pt-4"style="background-color:black">
    <div class="container">
        <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white">Siga-nos nas redes sociais</h4>
        </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                
                <ul class="social-network">
                <li>
                    <a href="https://www.facebook.com/Helloworldtshirts-108482834791572/" target="_blank" class="icoFacebook">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send?phone=551145471825" target="_blank" class="icoWhatsapp">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/helloworldtshirts/" target="_blank" class="icoInstagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <!--<div class="col-md-12 d-flex justify-content-center">
                    <a  href=""> <h4 class="text-white fs-10">POLITICAS DA LOJA</h4></a>
                </div> -->
            </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-light text-center py-3">
        <span class="text-dark"> © 2021 Copyright: </span>
        <a class="text-dark" target="_blank" href=" ">HelloWorld.com.br</a>
    </div>
</footer>
