<div class="container-fluid d-flex align-items-center justify-content-center">
    
    <div class="col-md-6 ml-20">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-12">
        <img id="foto" src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.6435-9/200206147_113211737652015_219391081350494577_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeF9HuFRV1M9g8B6t9R5zBzQfp07qzZoRQh-nTurNmhFCL04ClV7EZwOYPObJMMAwZBVU_UJcW_9h2E8ghbqRsGH&_nc_ohc=OAORDe2icUwAX-uH2xy&tn=ujOaSvDAvR7NbCE1&_nc_ht=scontent.fgru5-1.fna&oh=a3a532b7c542dad207d89212e2c470de&oe=60CBF3AE" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Quem somos?</h2>
            <p> A helloWorld é uma marca digital fundada por um grupo que acredita no poder de transformação de vestir uma peça. Camisetas são uma potente ferramenta de auto expressão, onde é possível mostrar quem você é através da arte.
            Nossa missão é disseminar moda e expressão por todos os cantos! Dando visibilidade às mais diversas tribos, a todas as condições sociais. E é por isso que a helloWorld tem como foco principal um projeto onde oferece impacto social que envolve clientes, equipe e comunidade.</p>
            <p> Temos dois grandes parceiros para conseguir realizar a tarefa de vestir o mundo: nossos clientes e designers. Oferecemos uma plataforma para designers disponibilizarem artes próprias, sendo uma janela para divulgação e espaço para ação social. E o nosso público alvo visa um perfil de pessoas interessadas em fazer o bem, com empatia e crença de que a mudança acontece a cada pequeno gesto.
            A cada camiseta comprada, outra igual será doada para o centro de acolhida "Casa 1". Sempre investimos na diversidade para dialogar com pessoas das mais variadas tribos. Nosso objetivo é fazer com que a arte salte dos objetos e seja a conexão, que ela inicie diálogos e inspire o ciclo de criatividade.</p>
            
    </div>
</div>

<div class="content-center justify-content-center mr-5 ml-5">
    <h2 class="text-center">Por que HelloWorld?</h2>
        <p>Reza a lenda que todo desenvolvedor precisa usar o "Hello World" em seu primeiro código. Não importa a linguagem utilizada, se você não codar pela primeira vez com "Hello World", você terá azar em sua carreira.</p>
        <p>Lendas são apenas superstições (mas não passe embaixo de uma escada, não deixe o chinelo virado, não abra o guarda-chuva dentro de casa, não quebre um espelho, não varra os pés se quiser casar, se falou algo ruim bata 3 vezes na madeira, se sua orelha esquentar saiba que estão falando de você)... Pensando bem, é uma boa usar "Hello World" sempre que puder... [imagem de desespero]
        Para além disso, quando você cria um e-commerce voltado à ação social, você abre uma porta para oportunidades e deixa sua marca por todos os cantos, dando assim o sentido de dar "Oi" para o mundo!</p>
</div>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon ">
        <h2>Nosso Time</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-4">
        <div class="zoom">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure>
                <img src="https://i.imgur.com/SaBaivG.png" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Barbara</a></h3>
            <p>Dev. Web Java Junior</p>
            <ul class="follow-us clearfix">
              <li><a href="https://github.com/babiyquerino"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/babiyquerino/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/in/b%C3%A1rbara-querino/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </li>

      <li class="col-12 col-md-6 col-lg-4">
        <div class="zoom">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="https://i.imgur.com/L7ohoqr.png" class="img-responsive" alt=""></figure>
          <h3><a href="http://www.webcoderskull.com/">Jezebel</a></h3>
          <p>Dev. Web Java Junior</p>
          <ul class="follow-us clearfix">
            <li><a href="https://github.com/Jezebel1990"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/notrebell/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/jezebel-guedes/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>
    </li>

      <li class="col-12 col-md-6 col-lg-4">
        <div class="zoom">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://i.imgur.com/9tZa5nF.png" class="img-responsive" alt=""></figure>
            <h3><a href="#">João Paulo</a></h3>
            <p>Dev. Web Java Junior</p>
            <ul class="follow-us clearfix">
                <li><a href="https://github.com/jplb"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/jotapelb/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-4">
        <div class="zoom">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://i.imgur.com/9JHoVzK.png" class="img-responsive" alt=""></figure>
            <h3><a href="">Luana </a></h3>
            <p>Dev. Web Java Junior</p>
            <ul class="follow-us clearfix">
                <li><a href="https://github.com/LuaBezana"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/__luamoon/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/luana-bezana/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
       </li>

       <li class="col-12 col-md-6 col-lg-4">
        <div class="zoom">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="https://i.imgur.com/DAp1Zde.png" class="img-responsive" alt=""></figure>
          <h3><a href="">Maicon </a></h3>
          <p>Dev. Web Java Junior</p>
          <ul class="follow-us clearfix">
              <li><a href="https://github.com/Maicon-F"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/maicon.h.fernandes/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/in/maicon-fernandes/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
      </div>
     </li>

      <li class="col-12 col-md-6 col-lg-4">
        <div class="zoom">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://i.imgur.com/yhfOHwg.png" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Nohan </a></h3>
            <p>Dev. Web Java Junior</p>
            <ul class="follow-us clearfix">
                <li><a href="https://github.com/RoldaoN"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/nohan-esteves-rold%C3%A3o/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
