<div class="container-fluid d-flex align-items-center justify-content-center fundo">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <img class="rounded-circle" width="200px" height="200px" src="https://i.imgur.com/dHRgJdw.jpg" alt="foto do membro JP">
                <img class="rounded-circle ml-5" width="200px" height="200px" src="https://i.imgur.com/bnP03QS.jpg" alt="foto do membro JP">
                <img class="rounded-circle ml-5" width="200px" height="200px" src="https://i.imgur.com/eFrlS2d.jpg" alt="foto do membro JP">
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-12">
                <img class="rounded-circle mt-5" width="200px" height="200px" src="https://i.imgur.com/8BAWwPp.jpg" alt="foto do membro JP">
                <img class="rounded-circle ml-5 mt-5" width="200px" height="200px" src="https://i.imgur.com/f6yuniE.jpg" alt="foto do membro JP">
                <img class="rounded-circle ml-5 mt-5" width="200px" height="200px" src="https://i.imgur.com/UhzlYjv.jpg" alt="foto do membro JP">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Quem somos?</h2>
            <p>A helloWorld é uma marca digital fundada por um grupo que acredita no poder de transformação de vestir uma peça. Camisetas são uma potente ferramenta de auto expressão, onde é possível mostrar quem você é através da arte.
            Nossa missão é disseminar moda e expressão por todos os cantos! Dando visibilidade às mais diversas tribos, a todas as condições sociais.E é por isso que a helloWorld tem como foco principal um projeto que oferece impacto social que envolve clientes, equipe e comunidade.</p>
            <p>Temos dois grandes parceiros para conseguir realizar a tarefa de vestir o mundo: nossos clientes e designers. Oferecemos uma plataforma para designers disponibilizarem artes próprias, sendo uma janela para divulgação e espaço para ação social. E o nosso público alvo visa um perfil de pessoas interessadas em fazer o bem, com empatia e crença de que a mudança acontece a cada pequeno gesto.
            A cada camiseta comprada, outra igual será doada para instituições carentes (linkar aba de instituições parceiras). Sempre investimos na diversidade para dialogar com pessoas das mais variadas  tribos. Nosso objetivo é fazer com que a arte salte dos objetos e seja a conexão, que ela inicie diálogos e inspire o ciclo de criatividade.</p>
            <h2 class="text-center">Por que helloWorld?</h2>
            <p>Reza a lenda que todo desenvolvedor precisa usar o "Hello World" em seu primeiro código. Não importa a linguagem utilizada, se você não codar pela primeira vez com "Hello World", você terá azar em sua carreira.</p>
            <p>Lendas são apenas superstições (mas não passe embaixo de uma escada, não deixe o chinelo virado, não abra o guarda-chuva dentro de casa, não quebre um espelho, não varra os pés se quiser casar, se falou algo ruim bata 3 vezes na madeira, se sua orelha esquentar saiba que estão falando de você)... Pensando bem, é uma boa usar "Hello World" sempre que puder... [imagem de desespero]
            Para além disso, quando você cria um e-commerce voltado à ação social, você abre uma porta para oportunidades e deixa sua marca por todos os cantos, dando assim o sentido de dar "Oi" para o mundo!</p>
    </div>
</div>
