@font-face {
    font-family: "caramella";
    src: url(../../assets/fontes/caramella/Caramella_Regular.ttf)
  }

p{
    text-align: justify;
    font-family: "caramella";
    font-size: 20pt;
}


@font-face {
    font-family: "Kinan";
    src: url(../../assets/fontes/kinan/Kinan.ttf)
  }
  
  h2{
    font-family: "Kinan";
    font-size: 60pt;
  }

#foto{
    height: 880px;
    }

#integrantes{
  height: 200px;
  width: 160px;
  margin-right: 20px;
}