@font-face {
  font-family: "Kinan";
  src: url(../../assets/fontes/kinan/Kinan.ttf)
}

@font-face {
  font-family: "caramella";
  src: url(../../assets/fontes/caramella/Caramella_Regular.ttf)
}

  h1{
    font-family: "Kinan";
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: 70pt;
  }
  
  p{
    color: white;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0px;
  }
  #container-produto{
  
      background-color: black;
      border-radius: 10px;
      width: 700px;
  }
  #produto{
    text-align: center;
  }
  #produto img{
      width: 100px;
      margin: 2vh 0 2vh 0;
  }
  
  #subTotal{
    font-size: 20pt;
  
  }
  #confirma{
      display: flex;
      justify-content: center;
  }
  #total{
      margin-bottom: 10vh;
      text-align: right;
      font-size: 25pt;
      font-family: "caramella";
  }

  #comprarMais{
      width: 30vh;
      margin-bottom: 5vh;
      font-size: 12pt;
      border-color: #FF4500;
      color: #FF4500;
      background-color: white;
      font-family: "caramella";
  }
  
  #comprarMais:hover{
    width: 30vh;
    margin-bottom: 5vh;
    font-size: 12pt;
    color: white;
    background-color: #FF4500;
    font-family: "caramella";
}

  #fecharPedido{
      width: 30vh;
      margin-bottom: 5vh;
      font-size: 12pt;
      border-color: green;
      color: green;
      background-color: white;
      font-family: "caramella";
  }

  #fecharPedido:hover{
    width: 30vh;
    margin-bottom: 5vh;
    font-size: 12pt;
    color: white;
    background-color: green;
    font-family: "caramella";
}
  
  #quantidade{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 80pt;
  }
  
  #vazio{
    text-align: center;
    color: red;
  }
  
  
  