<div class="container-fluid justify-content-center">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
      <!-- <h1 class="text-center titulo font:Kinan">Indie</h1> -->
       <h1 class="text-center titulo">Detalhes</h1>
    </div>
  </div>

  <!--FOTO DO PRODUTO-->
  <div class="row">
    <div id="grup" class="col-md-6 justify-content-center">
      <a href="">
        <img src={{verProduto.foto}} alt="Foto do Produto" height="700px" />

      <!--<img src="https://static3.tcdn.com.br/img/img_prod/482157/180_camiseta_t_shirt_asas_off_white_7166_1_c7abb27e05a87d60b0737bb521ce3ba6.jpg" alt="Foto do Produto" height="800px"> -->

      <!-- INICIO - ALTERAÇÃO PEGANDO DE PRODUTO: -->
      <!--<img src={{produto.foto}} alt="Foto do Produto" height="800px"/>
      <!-- <img src="https://static3.tcdn.com.br/img/img_prod/482157/180_camiseta_t_shirt_asas_off_white_7166_1_c7abb27e05a87d60b0737bb521ce3ba6.jpg" alt="Foto do Produto" height="800px"> -->
      <!-- FIM - ALTERAÇÃO PEGANDO DE PRODUTO: -->

    </a>
  </div>


  <div class="col-md-6 justify-content-center" id="txt-grup">
    <h2>{{verProduto.nome}}</h2>
      <!-- <h2>Woman's Fly</h2> -->


    <!-- INICIO - ALTERAÇÃO PEGANDO DE PRODUTO:
    <div class="col-5" id="txt-grup">
      <h2>{{produto.nome}}</h2>
      <!-- FIM - ALTERAÇÃO PEGANDO DE PRODUTO: -->
    <!-- <h2>Women Flying</h2> -->

    <h1>R$ {{verProduto.preco.toFixed(2).replace('.', ',')}}</h1>
    <!-- <h1>{{produto.preco.toFixed(2).replace('.', ',')}}</h1> -->
    <!-- <h1>R$ 79,90</h1> -->

    <div class="y-productSkuSelection"><span class="y-selectionDesc mr-2">Selecione um tamanho:</span></div>

    <div><input type="radio" name="1254386558" id="953086992" value="PP">
      <label for="953086992" class="mr-2">PP</label>

      <input type="radio" name="1254386558" id="953086992" value="P">
      <label for="953086992" class="mr-2">P</label>

      <input type="radio" name="1254386558" id="1097046190" value="M">
      <label for="1097046190" class="mr-2">M</label>

      <input type="radio" name="1254386558" id="1290346762" value="G">
      <label for="1290346762" class="mr-2">G</label>

      <input type="radio" name="1254386558" id="1290346762" value="XG">
      <label for="1290346762" class="mr-2">XG</label>

      <input type="radio" name="1254386558" id="1290346762" value="XXG">
      <label for="1290346762" class="mr-2">XXG</label>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="ml-0">
        <div class="y-productSkuSelection justify-content-center" id="divCor">
          <span class="y-selectionDesc mr-6 justify-content-center">Selecione uma cor:</span>

          <div class="nav-item dropdown">
            <a class="btn btn-with dropdown-toggle fs-14 dropdownbtn" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cor
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="">Branco</a>
              <a class="dropdown-item" href="">Preto</a>
              <a class="dropdown-item" href="">Cinza</a>
              <a class="dropdown-item" href="">Vermelho</a>
              <a class="dropdown-item" href="">Rosa</a>
              <a class="dropdown-item" href="">Amarelo</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-ml-8">
        <!--QUANTIDADE-->
        <div id="quantrow" class="row">
          <div class="col-ml-16">
            <p>Digite a quantidade desejada:</p>
          </div>
          <div class="col-ml-5" id="quantidade">
            <!-- <input type="button" id="minus" value="-" /> -->
            <!-- <input type="button" id="minus" (click)="processo(-1)" (click)="calculaSubTotal()" (click)="subtraiQuantidade()" value=" -" /> -->
            <input [(ngModel)]="quantidade" id="quantidade" name="quantidade" type="number" value="" min="1" (click)="calculaSubTotal()" class="ml-3"/>
            <!-- <input type="button" id="plus" value="+"> -->
            <!-- <input type="button" id="plus" (click)="processo(1)" (click)="calculaSubTotal()" click="adicionaQuantidade()" value="+ "> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <button type="button" class="btn bb">Adicionar ao pedido</button>-->
    <button type="button" class="btn bb w-50" (click)="addPedido()">Adicionar ao pedido</button>
  </div>
</div>
</div>