<div class="container mt-5 mb-5">

    <div class="row mb-5">
      <div class="col-md-12">
          <h1 class="text-center">Vitrine</h1>
      </div>
    </div>


    <div class="row">
      <!--DIV VITRINE-->
      <div class="col-sm-4 mb-4">
        <!-- *ngFor='let VerProduto of listaProdutos'>-->

        <!--ESPAÇO COM A CAMISETA-->
        <div class="card" [routerLink]="['/ver-produto']"> <!--, VerProduto.id]">-->
          <div class="d-flex justify-content-center">
              <img class="img-fluid" src="https://static3.tcdn.com.br/img/img_prod/482157/180_camiseta_t_shirt_sisters_6828_1_cbd723c2f6b107cf0620e5576aaf3f00.jpg" alt="">
            <!--<img class="img-fluid" alt="Imagem da camiseta" src="{{VerProduto.foto}}">-->
          </div>
          <div class="card-body text-center">
            <h4 class="nome">Nome</h4><!--{{VerProduto.nome}}-->
            <small class="text-muted">Tema</small><!--{{VerProduto.tema}}-->
            <p id="preco">R$ 10</p><!--{{VerProduto.preco.toFixed(2).replace('.', ',')}}-->
              <a class="btn btn-verde w-100" [routerLink]="['/ver-produto']"></a> <!--", VerProduto.id]">Ver camiseta</a>-->
          </div>
          
        </div>
  
      </div>
  